<html>
  <head>
    <title>Movie Atlas AT - About</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/png" href="/public/icon.png" sizes="32x32">
  </head>
  <body>
    <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' width='20%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="24px" height="23px" src="/public/icon.png" alt="Logo"> &nbsp; <font style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" size="5" color='#a24028'><strong> Movie Atlas AT </strong></font> </a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' width='60%'> <a style="text-decoration: none;" href="/"><font size="3" color='#0000'><strong> << &nbsp; Back Home </strong></font></a> </td>
      <td align='right' width='20%'> </td>
      </tr>
      </table>
      <hr>
    </br>

    <table width='100%' border='0' cellpadding="5px">
    <tr> 
    <td width='20%'> </td>    
    <td>


    <h2><font size="5" color='#a24028'><strong> ABOUT </strong></font></h2>

    </br><font size="4" color='#0000'>

      Movie Atlas AT is built to make it easy for fans to visit a beautiful location from their favorite movie.

    </br></br>

      The aim is to spur film tourism by making it easy for movie fans to easily identify and explore locations and destinations that appear in their favorite films or television series.

    </br></br>

      The Film Tourism Sector is estimated to generate USD $66.7 Billion in revenue in 2022 alone.

    </br></br>

    Code Repository: <a style="text-decoration: none;" href="https://github.com/VakinduPhilliam/MovieAtlasAT"><font size="4" color='#a24028'><strong> https://github.com/VakinduPhilliam/MovieAtlasAT </strong></font></a>

    </br></br>

    <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Movie Atlas AT

    </font>
    </td>
    <td width='20%'> </td>
  </tr>
  </table>

  </br>

  </body>
</html>

